<a href="https://colab.research.google.com/github/Bhargavi116/Skills/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.

In [1]:
X=10
type(X)

int

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.

In [2]:
a=3
b=5
c=4
print(a+b+c)

12

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).

In [4]:
x=23
y=3.5
z="minnu"
print (type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)

In [5]:
a=20
b=23
print(a+b)
print(a-b)
print(a*b)
print(a/b)

43
-3
460
0.8695652173913043

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.

In [6]:
x="123"
print(int(x))
print(float(x))

123
123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)

In [8]:
str="minnu"
print(str[0])

m

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)

In [9]:
str="minnu"
print(len(str))

5

In [ ]:
# Write a Python program to check if a given string contains only alphabets.

In [10]:
str=("adithya")
print(str.isalpha())

True

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)

In [11]:
x="WOOD"
y="WORKS"
print(x+y)

WOODWORKS

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)

In [12]:
x="branches"
print(x.index("a"))
print(x.index("b"))
print(x.index("c"))

2
0
4

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)

In [13]:
str="usha"
print(str.upper())
print(str.lower())

USHA
usha

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)

In [14]:
str="minnu"
print(str.count("n"))

2

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)

In [15]:
a="Hello"
b="minnu"
c="Good Morning"
print(a)
print(b)
print(c)

Hello
minnu
Good Morning

In [ ]:
# Write a Python program to take two numbers as input and print their sum.

In [16]:
x=13
y=83
print(x+y)

96

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)

In [17]:
name=("usha")
age=("19")
print(name)
print(age)

usha
19

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.

In [18]:
x=16
if x > 0:
  print("The number is positive.")
elif x < 0:
  print("The number is negative")
else:
 print("The number is zero")

The number is positive.

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)

In [19]:
a=7
b=8
c=11
print("maximum of three number")
if a>b and a>c:
  print(a)
elif b>a and b>c:
  print(b)
else:
  print(c)

maximum of three number
11

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)

In [20]:
year=2021
if year%4==0:
 print("The year is leap year")
else:
 print("The year is not leap year")

The year is not leap year

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)

In [21]:
a=25
if a%3==0 and a%5==0:
  print("is divisible by both 3 and 5")
else:
  print("is not divisible by both 3 and 5")

is not divisible by both 3 and 5

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)

In [22]:
string="rishi college"
if(string==string[::-1]):
  print("The letter is palindrome")
else:
  print("The letter is not a palindrome")

The letter is not a palindrome

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.

In [23]:
for number in range(1,11):
  print(number)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.

In [24]:
for even_number in range(1,21):
  if even_number%2==0:
    print(even_number)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)

In [25]:
number=5
for i in range(1,11):
  print(number, "x",i, "=", number)

5 x 1 = 5
5 x 2 = 5
5 x 3 = 5
5 x 4 = 5
5 x 5 = 5
5 x 6 = 5
5 x 7 = 5
5 x 8 = 5
5 x 9 = 5
5 x 10 = 5

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)

In [26]:
a = 25
if a < 0:
  print("positive number")
else:
  sum = 0
  while(a > 0):
    sum += a
    a -= 1
    print("The sum is",sum)

The sum is 25
The sum is 49
The sum is 72
The sum is 94
The sum is 115
The sum is 135
The sum is 154
The sum is 172
The sum is 189
The sum is 205
The sum is 220
The sum is 234
The sum is 247
The sum is 259
The sum is 270
The sum is 280
The sum is 289
The sum is 297
The sum is 304
The sum is 310
The sum is 315
The sum is 319
The sum is 322
The sum is 324
The sum is 325

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)

In [27]:
a =4
factorial = 1
i = 1
while i <= a:
  factorial *= i
  i += 1
print("The factorial of", a, "is", factorial)

The factorial of 4 is 24

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)

In [41]:
def fibonacci_sequence(n):
  a,b=0,1
  count=0
  if n<=0:
    print("fibonacci sequence")
  elif n==1:
    print(a)
  else:
    while count<n:
      print(a)
      c=a+b
      a=b
      b=c
      count+=1
# Call the function with user input
n_terms = int(input("Enter the number of terms: "))
fibonacci_sequence(n_terms)



"""def fibonacci_sequence(n):
    a, b = 0, 1
    count = 0

    if n <= 0:
        print("Please enter a positive integer.")
    elif n == 1:
        print(f"Fibonacci sequence up to {n} term:")
        print(a)
    else:
        print(f"Fibonacci sequence up to {n} terms:")
        while count < n:
            print(a, end=" ")  # Print the terms in a single line
            c = a + b
            a = b
            b = c
            count += 1

# Call the function with user input
n_terms = int(input("Enter the number of terms: "))
fibonacci_sequence(n_terms)"""

Enter the number of terms: 105
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088
259695496911122585
420196140727489673
679891637638612258
1100087778366101931
1779979416004714189
2880067194370816120
4660046610375530309
7540113804746346429
12200160415121876738
19740274219868223167
31940434634990099905
51680708854858323072
83621143489848422977
135301852344706746049
218922995834555169026
354224848179261915075
573147844013817084101
927372692193078999176
1500520536206896083277
2427893228399975082453

'def fibonacci_sequence(n):\n    a, b = 0, 1\n    count = 0\n    \n    if n <= 0:\n        print("Please enter a positive integer.")\n    elif n == 1:\n        print(f"Fibonacci sequence up to {n} term:")\n        print(a)\n    else:\n        print(f"Fibonacci sequence up to {n} terms:")\n        while count < n:\n            print(a, end=" ")  # Print the terms in a single line\n            c = a + b\n            a = b\n            b = c\n            count += 1\n\n# Call the function with user input\nn_terms = int(input("Enter the number of terms: "))\nfibonacci_sequence(n_terms)'

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.

In [51]:
def find_primes_up_to_100():
    primes = []
    is_prime = [True] * (100 + 1)
    is_prime[0] = is_prime[1] = False
    print("Prime numbers from 1 to 100:")
    for num in range(2, 101):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, 101, num):
                is_prime[multiple] = False
    return primes

# Call the function and print the result
prime_numbers = find_primes_up_to_100()
print(prime_numbers)

Prime numbers from 1 to 100:
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).pr

In [83]:
"""import random
numbers = [random.randint(1, 100) for _ in range(20)]
print("Generated numbers:",numbers)
for number in numbers:
   if number>50:
      print(f"number greater than 50 found:{number}")
     break
   else:
    print("no number greater than 50 found.")"""


import random

# Generate a list of 20 random numbers between 1 and 100
numbers = [random.randint(1, 100) for _ in range(20)]
print("Generated numbers:", numbers)

# Variable to track if a number greater than 50 was found
found = False

# Loop through the numbers
for number in numbers:
    if number > 50:
        print(f"Number greater than 50 found: {number}")
        found = True
        break  # Exit the loop when a number greater than 50 is found

# If no number greater than 50 is found, print a message
if not found:
    print("No number greater than 50 found.")

Generated numbers: [43, 35, 56, 69, 87, 17, 25, 39, 20, 88, 87, 41, 50, 65, 35, 42, 66, 34, 56, 95]
Number greater than 50 found: 56

In [82]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.

In [63]:
print("Odd numbers from 1 to 20:")
for number in range(1, 21):
    if number % 2 == 0:
        continue
    print(number,end=' ')

Odd numbers from 1 to 20:
1 3 5 7 9 11 13 15 17 19

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)

In [64]:
string="minnu"
char_to_count="n"
count=0
for char in string:
  if char==char_to_count:
    count+=1
print(f"The character '{char_to_count}' appears {count} times in the string.")

The character 'n' appears 2 times in the string.

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)

In [65]:
num="40"
sum_of_digits=0
for digit in num:
  sum_of_digits+=int(digit)
print("Sum of digits:",sum_of_digits)

Sum of digits: 4

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.

In [69]:
numbers=[10,20,30,40,50]
integers_list=list(numbers)
print("List of integers:",integers_list)

List of integers: [10, 20, 30, 40, 50]

In [ ]:
# Write a Python program to find the largest element in a list.

In [70]:
numbers=[10,20,30,40,50]
largest_element=max(numbers)
print("Largest element:",largest_element)

Largest element: 50

In [ ]:
# Write a Python program to reverse a list.

In [71]:
numbers=[10,20,30,40,50]
reversed_list=numbers[::-1]
print("Reversed list:",reversed_list)

Reversed list: [50, 40, 30, 20, 10]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

In [ ]:
# Write a Python program to find the index of an element in a list.

In [ ]:
# Write a Python program to find if a specific element exists in a list.

In [ ]:
# Write a Python program to remove duplicates from a list.

In [ ]:
# Write a Python program to count the occurrences of an element in a list.

In [ ]:
# Write a Python program to get the number of even numbers in a list.

In [ ]:
# Write a Python program to create a tuple and print it.

In [ ]:
# Write a Python program to convert a tuple to a list and vice versa.

In [ ]:
# Write a Python program to find the maximum and minimum values in a tuple.

In [ ]:
# Write a Python program to unpack a tuple into variables.

In [ ]:
# Write a Python program to add an element to a set and check if an element exists in the set.

In [ ]:
# Write a Python program to create a dictionary with keys and values and print it.

In [ ]:
# Write a Python program to access a dictionary value using a key.

In [ ]:
# Write a Python program to check if a key exists in a dictionary.

In [ ]:
# Write a Python program to merge two dictionaries.

In [ ]:
# Write a Python program to remove a key from a dictionary.

In [ ]:
# Write a Python program to get the number of keys in a dictionary.

In [ ]:
# Write a Python program to find the largest and smallest values in a dictionary.

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [ ]:
# Write a Python function that returns the square of a number.

In [ ]:
# Write a Python function that accepts two parameters and returns their sum.

In [ ]:
# Write a Python function to check if a given number is prime.

In [ ]:
# Write a Python function to calculate the factorial of a number using recursion.

In [ ]:
# Write a Python function to calculate the power of a number using recursion.

In [ ]:
# Write a Python function to accept a list and return its length without using the built-in len() function.

In [ ]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.

In [ ]:
# Write a Python function that accepts a list of numbers and returns their product.

In [ ]:
# Write a Python function to check if a number is even or odd using the modulo operator.

In [ ]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.

In [ ]:
# Write a Python program to filter out all even numbers from a list using list comprehension.

In [ ]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.

In [ ]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.

In [ ]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.

In [ ]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.

In [ ]:
# Write a Python program to square each element of a list using the map() function.

In [ ]:
# Write a Python program to filter all even numbers from a list using the filter() function.

In [ ]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.

In [ ]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

**Note:**
- All assignments must follow [PEP 8  Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`